<div class="chart-area" *ngIf="cityOptions" >
    <div echarts [options]="cityOptions" class="chart" theme="macarons2" ></div>
    <div class="explanation" >
        <div class="header">{{cityOptions.title.text}}</div>
        <div class="content">
            Around <span>31%</span>  of people who are taking this course are from Bangalore which is called the Silicon Valley for India. With
            Hyderabad coming at second number, with 13% of people. Also, around <span>13%</span>  of people come from Delhi/NCR region. 
            Pune is just behind Hyderabad with a total of 8 people which forms a <span>11%</span>.
            <br>
            <span>4%</span> of students enrolled are from cities not in India and 
            Data for <span>10%</span> of students is not available.  

        </div>
    </div>
</div>
<div class="chart-area" *ngIf="options">
    <div echarts [options]="options" class="chart pad-10"></div>
    <div class="explanation" >
        <div class="header">{{options.title.text}}</div>
        <div class="content">
            <p>
                <span>54%</span> of people who are taking this course are Male and <span>14%</span> are Females.
            </p>
             
            <p>
                In Females, <span>50% </span> of the Females have equal to or greater than 10 years of experience.
                <span>80%</span> of the Females have a Bachelor's Degree.
            </p>
            <p>
                In Males, <span>35% </span> of Males enrolled have equal to or greater than 10 years of experience and 
                <span>60%</span> of the Males have a Bachelor's Degree. 
            </p>
        </div>
    </div>
</div>

<div class="chart-area" *ngIf="stateOptions" >
    <div echarts [options]="stateOptions" class="chart" theme="macarons2" ></div>
    <div class="explanation" >
        <div class="header">{{stateOptions.title.text}}</div>
        <div class="content">
            <p>
                This bar graph is very similar to the one we had for cities with 31% of students, since Bangalore is in State Karnataka this is very straight forward.
            </p>
            <p>
                The second most state though is Maharastra with 17% as we have both Mumbai and Pune inside It.
            </p>
        </div>
    </div>
</div>

<div class="chart-area" *ngIf="degreeOptions" >
    <div echarts [options]="degreeOptions" class="chart" theme="macarons2" ></div>
    <div class="explanation" >
        <div class="header">{{degreeOptions.title.text}}</div>
        <div class="content">
            Most Of the People in this cohort have a B.Tech degree ( 37% ), with B.E degree coming out as close second with 36%.
            From this we can safely infer that most of the students are engineers. we will be analyzing JOB ROLES to confirm our Inference. 
        </div>
    </div>
</div>
<div class="chart-area" *ngIf="degreeTypeOptions" >
    <div echarts [options]="degreeTypeOptions" class="chart" theme="macarons2" ></div>
    <div class="explanation" >
        <div class="header">{{degreeTypeOptions.title.text}}</div>
        <div class="content">
            <p>
                We have whooping 80% of students having a Bachelor's Degree and 10% of Students having a Masters degree.
                Out of the 10% having Masters 50% are male and 50% are Females. 
            </p> <p>
               Also, 100% of the students having Masters degrees have equal to or greater than 4 years of Experience.
               <br>
               Whereas 76% of students having Bachelors degrees have equal to or greater than 4 years of Experience.

            </p>
        </div>
    </div>
</div>
