$break-small:426px;

.pad-10{
    margin-top: -10px;
}

.chart-area{
    height: 100vh;
    
}

.explanation {
    /* position: absolute; */
    /* top: 50%; */
    margin: 11px 50px;
    margin-top: 70px;
    padding: 10px;
    padding-top: 30px;
    box-shadow: 0 2px 14px rgba(0,0,0,0.1);
    border-radius: 4px;

    @media screen and (max-width: $break-small) {
        margin: 0;
        margin-top: 60px;
        padding: 5px;
        padding-top: 10px;
    }
}



.header {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 20px 15px;
    margin-top: -55px;
    background: white;
    margin-left: 50px;
    color: darkslategray;
    font-size: 18px;
    margin-right: 50px;
    border-radius: 4px;
    
    @media screen and (max-width: $break-small) {
        margin-top: -35px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px ;
    }
}

.content{
    padding: 20px;
    
    @media screen and (max-width: $break-small) {
        padding: 15px;
        font-size: 80%;
    }


    span{
        font-size: 20px;
        color: #000000; 
        
        @media screen and (max-width: $break-small) {
            font-size: 100%;
            font-weight: 600;
        }
        
    }

    p{
        margin-bottom: 10px;
    }
}