<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="mat-elevation-z6">
      <span>{{title}}</span>
      <a class="btn btn-flat right-aligned" href="https://github.com/rdrahul/cohort" target="_blank"  ><span  >Github</span></a>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
<div class="footer">
  Visit code on <a class="btn btn-flat" href="https://github.com/rdrahul/cohort" target="_blank"  ><span  >Github</span></a>
</div>
